openapi: 3.1.0
info:
  title: Microsoft Defender for Cloud REST Alerts Pricings API
  description: 'Azure Resource Manager REST API for Microsoft Defender for Cloud.

    Provides cloud security posture management (CSPM) and cloud workload

    protection (CWPP) - security alerts, security assessments, secure

    scores, regulatory compliance, and pricing/plans. Authentication uses

    Azure AD OAuth 2.0 bearer tokens against the management.azure.com

    endpoint with api-version query parameters.

    '
  version: '2022-01-01'
  contact:
    name: Kin Lane
    email: kin@apievangelist.com
  license:
    name: Microsoft Terms of Use
    url: https://www.microsoft.com/en-us/legal/terms-of-use
servers:
- url: https://management.azure.com
  description: Azure Resource Manager endpoint
security:
- azure_auth:
  - user_impersonation
tags:
- name: Pricings
  description: Defender plan/pricing operations
paths:
  /subscriptions/{subscriptionId}/providers/Microsoft.Security/pricings:
    get:
      tags:
      - Pricings
      summary: List Defender plans (pricings) for a subscription
      operationId: pricings_list
      parameters:
      - $ref: '#/components/parameters/subscriptionId'
      - $ref: '#/components/parameters/apiVersion'
      responses:
        '200':
          description: OK
  /subscriptions/{subscriptionId}/providers/Microsoft.Security/pricings/{pricingName}:
    get:
      tags:
      - Pricings
      summary: Get a Defender plan
      operationId: pricings_get
      parameters:
      - $ref: '#/components/parameters/subscriptionId'
      - name: pricingName
        in: path
        required: true
        schema:
          type: string
      - $ref: '#/components/parameters/apiVersion'
      responses:
        '200':
          description: OK
    put:
      tags:
      - Pricings
      summary: Update a Defender plan
      operationId: pricings_update
      parameters:
      - $ref: '#/components/parameters/subscriptionId'
      - name: pricingName
        in: path
        required: true
        schema:
          type: string
      - $ref: '#/components/parameters/apiVersion'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                properties:
                  type: object
                  properties:
                    pricingTier:
                      type: string
                      enum:
                      - Free
                      - Standard
      responses:
        '200':
          description: OK
components:
  parameters:
    subscriptionId:
      name: subscriptionId
      in: path
      required: true
      schema:
        type: string
    apiVersion:
      name: api-version
      in: query
      required: true
      schema:
        type: string
        default: '2022-01-01'
  securitySchemes:
    azure_auth:
      type: oauth2
      description: Azure Active Directory OAuth 2.0
      flows:
        implicit:
          authorizationUrl: https://login.microsoftonline.com/common/oauth2/authorize
          scopes:
            user_impersonation: impersonate your user account
